<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <div id="container">
            <div id="wrapper">
                <%- include("partials/header") %>
                    <%- include("partials/navigation") %>

                        <main>
                            <%- body %>
                        </main>
                        <p>Rendered!</p>
                        <%- include("partials/footer") %>
            </div>
        </div>
        <script src="../js/script.js"></script>
    </body>

</html>